.text-primary {
  color: #08c; }

nav a {
  color: #fff;
  padding-right: 1em;
  font-size: 1.2em;
  text-decoration: none !important; }

nav a:focus {
  color: #ccc; }

nav a:hover {
  color: #ccc; }

nav a:active {
  color: #ccc; }

nav {
  background-color: #337ab7;
  height: 4em;
  line-height: 4em;
  color: #ccc; }

body {
  background-color: #f0f0f0;
  color: #777;
  height: 100%; }

html {
  height: 100%; }

[ng\:cloak], [ng-cloak], [data-ng-cloak], [x-ng-cloak], .ng-cloak, .x-ng-cloak {
  display: none !important; }

.login-container {
  width: 100%;
  background-color: #ccc;
  height: 100%;
  position: absolute;
  text-align: center;
  padding-top: 43vh; }
  .login-container a {
    border: 1px solid #337ab7;
    padding: 1em;
    padding-left: 3em;
    padding-right: 3em;
    border-radius: 0.5em;
    font-size: 2em; }

.supper-wrapper {
  position: relative;
  width: 100%;
  min-height: 100%; }
  .supper-wrapper #content {
    padding-bottom: 10em; }
  .supper-wrapper footer {
    width: 100%;
    height: 100px;
    position: absolute;
    bottom: 0;
    left: 0;
    border-top: 1px solid #ccc;
    padding-top: 1.5em;
    text-align: center; }

#master {
  height: 100%; }

h1 {
  color: #337ab7; }

.small.progress {
  font-size: 6px;
  background: none;
  border: none;
  box-shadow: none;
  position: absolute;
  top: 2em; }

@media (min-width: 1281px) {
  .small.progress {
    left: 3em; } }

@media (max-width: 1280px) {
  .small.progress {
    right: 3em; } }

input[type="text"] {
  width: 22em;
  border-radius: 2em; }

input:focus[type="text"] {
  border-color: #337ab7;
  box-shadow: none; }

.news-feed > div.news {
  padding: 0.5em;
  border: 1px solid #ddd;
  margin-top: 1em;
  padding-left: 1.6em;
  padding-right: 1.6em;
  border-radius: 20em;
  width: 35em;
  float: left;
  margin-right: 5em;
  line-height: 1.6em;
  min-height: 4em; }

.news-animated.ng-enter {
  opacity: 1; }

.news-animated.ng-enter.ng-enter-active {
  opacity: 1; }

.news-animated.ng-enter-stagger,
.news-animated.ng-leave-stagger,
.news-animated.ng-move-stagger {
  /* 200ms will be applied between each sucessive enter operation */
  -webkit-transition-delay: 0.2s;
  transition-delay: 0.2s; }

.news-animated.ng-enter,
.news-animated.ng-leave,
.news-animated.ng-move {
  -webkit-transition: 0.5s linear all;
  transition: 0.5s linear all; }

.news-animated.ng-leave.ng-leave-active,
.news-animated.ng-enter,
.news-animated.ng-move {
  -webkit-transition: 0.5s linear all;
  transition: 0.5s linear all;
  opacity: 0; }

.news-animated.ng-leave,
.news-animated.ng-move.ng-move-active,
.news-animated.ng-enter.ng-enter-active {
  opacity: 1; }
