
.news-feed>.news {
    padding: 0.5em;
    padding-top: 1.6em;
    padding-left: 0;
    padding-right: 1.6em;
    padding-bottom: 1.6em;
    float: left;
    min-height: 4em;
    border-bottom: 1px solid #ddd;
    small{
      color: $midtone-text;
    }
}

.news-animated {
  position:relative;
}

.news-animated.ng-enter-stagger,
.news-animated.ng-leave-stagger,
.news-animated.ng-move-stagger {
  -webkit-animation-delay:0.3s;
  animation-delay:0.3s;

  -webkit-animation-duration:0;
  animation-duration:0;
}

.news-animated.ng-move,
.news-animated.ng-enter {
  opacity:0;
  -webkit-animation:enter_animation 0.3s;
  animation:enter_animation 0.3s;
}

.news-animated.ng-leave {
  -webkit-animation:leave_animation 0s;
  animation:leave_animation 0s;
}

@-webkit-keyframes enter_animation {
  from { opacity:0; }
  to { opacity:1; }
}

@keyframes enter_animation {
  from { opacity:0; }
  to { opacity:1; }
}

@-webkit-keyframes leave_animation {
  from { opacity:1; }
  to { opacity:0; }
}

@keyframes leave_animation {
  from { opacity:1; }
  to { opacity:0; }
}
input.hidden-input {
    width: 0;
    height: 0;
    margin: 0;
    padding: 0;
    position: absolute;
    top: -9999px;
}
section#post {
    margin-top: 2em;
}
